.u-after-1-12 {
  margin-right: calc(100% * 1 / 12);
}

.u-after-1-10 {
  margin-right: 10%;
}

.u-after-1-8 {
  margin-right: 12.5%;
}

.u-after-1-6,
.u-after-2-12 {
  margin-right: calc(100% * 1 / 6);
}

.u-after-1-5,
.u-after-2-10 {
  margin-right: 20%;
}

.u-after-1-4,
.u-after-2-8,
.u-after-3-12 {
  margin-right: 25%;
}

.u-after-3-10 {
  margin-right: 30%;
}

.u-after-1-3,
.u-after-2-6,
.u-after-4-12 {
  margin-right: calc(100% * 1 / 3);
}

.u-after-3-8 {
  margin-right: 37.5%;
}

.u-after-2-5,
.u-after-4-10 {
  margin-right: 40%;
}

.u-after-5-12 {
  margin-right: calc(100% * 5 / 12);
}

.u-after-1-2,
.u-after-2-4,
.u-after-3-6,
.u-after-4-8,
.u-after-5-10,
.u-after-6-12 {
  margin-right: 50%;
}

.u-after-7-12 {
  margin-right: calc(100% * 7 / 12);
}

.u-after-3-5,
.u-after-6-10 {
  margin-right: 60%;
}

.u-after-5-8 {
  margin-right: 62.5%;
}

.u-after-2-3,
.u-after-4-6,
.u-after-8-12 {
  margin-right: calc(100% * 2 / 3);
}

.u-after-7-10 {
  margin-right: 70%;
}

.u-after-3-4,
.u-after-6-8,
.u-after-9-12 {
  margin-right: 75%;
}

.u-after-4-5,
.u-after-8-10 {
  margin-right: 80%;
}

.u-after-5-6,
.u-after-10-12 {
  margin-right: calc(100% * 5 / 6);
}

.u-after-7-8 {
  margin-right: 87.5%;
}

.u-after-9-10 {
  margin-right: 90%;
}

.u-after-11-12 {
  margin-right: calc(100% * 11 / 12);
}

.hook-after;
.hook-after() {}
