.u-align-baseline { vertical-align: baseline; }
.u-align-top      { vertical-align: top; }
.u-align-middle   { vertical-align: middle; }
.u-align-bottom   { vertical-align: bottom; }

.hook-align;
.hook-align() {}
