.u-before-1-12 {
  margin-left: calc(100% * 1 / 12);
}

.u-before-1-10 {
  margin-left: 10%;
}

.u-before-1-8 {
  margin-left: 12.5%;
}

.u-before-1-6,
.u-before-2-12 {
  margin-left: calc(100% * 1 / 6);
}

.u-before-1-5,
.u-before-2-10 {
  margin-left: 20%;
}

.u-before-1-4,
.u-before-2-8,
.u-before-3-12 {
  margin-left: 25%;
}

.u-before-3-10 {
  margin-left: 30%;
}

.u-before-1-3,
.u-before-2-6,
.u-before-4-12 {
  margin-left: calc(100% * 1 / 3);
}

.u-before-3-8 {
  margin-left: 37.5%;
}

.u-before-2-5,
.u-before-4-10 {
  margin-left: 40%;
}

.u-before-5-12 {
  margin-left: calc(100% * 5 / 12);
}

.u-before-1-2,
.u-before-2-4,
.u-before-3-6,
.u-before-4-8,
.u-before-5-10,
.u-before-6-12 {
  margin-left: 50%;
}

.u-before-7-12 {
  margin-left: calc(100% * 7 / 12);
}

.u-before-3-5,
.u-before-6-10 {
  margin-left: 60%;
}

.u-before-5-8 {
  margin-left: 62.5%;
}

.u-before-2-3,
.u-before-4-6,
.u-before-8-12 {
  margin-left: calc(100% * 2 / 3);
}

.u-before-7-10 {
  margin-left: 70%;
}

.u-before-3-4,
.u-before-6-8,
.u-before-9-12 {
  margin-left: 75%;
}

.u-before-4-5,
.u-before-8-10 {
  margin-left: 80%;
}

.u-before-5-6,
.u-before-10-12 {
  margin-left: calc(100% * 5 / 6);
}

.u-before-7-8 {
  margin-left: 87.5%;
}

.u-before-9-10 {
  margin-left: 90%;
}

.u-before-11-12 {
  margin-left: calc(100% * 11 / 12);
}

.hook-before;
.hook-before() {}
