@border-style: solid;
@border-width: 1px;
@border-radius: 5px;

.u-border {
  border-style: @border-style;
  border-width: @border-width;
}

.u-border-top {
  border-top-style: @border-style;
  border-top-width: @border-width;
}

.u-border-right {
  border-right-style: @border-style;
  border-right-width: @border-width;
}

.u-border-bottom {
  border-bottom-style: @border-style;
  border-bottom-width: @border-width;
}

.u-border-left {
  border-left-style: @border-style;
  border-left-width: @border-width;
}

.u-border-none { border: 0; }

.u-rounded { border-radius: @border-radius; }
.u-circle  { border-radius: 50%; }

.u-rounded-top    { border-radius: @border-radius @border-radius 0 0; }
.u-rounded-right  { border-radius: 0 @border-radius @border-radius 0; }
.u-rounded-bottom { border-radius: 0 0 @border-radius @border-radius; }
.u-rounded-left   { border-radius: @border-radius 0 0 @border-radius; }

.u-not-rounded { border-radius: 0; }

.hook-border;
.hook-border() {}
