// TBC

@button-color: inherit;
@button-background-color: @silver;

@button-primary-color: @primary-inverse;
@button-primary-background-color: @primary;

@button-secondary-color: @secondary-inverse;
@button-secondary-background-color: @secondary;

@button-padding-x: 1.3rem;
@button-padding-y: 0.7rem;

.button {
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  line-height: 1.2;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  color: @button-color;
  background-color: @button-background-color;
  padding: @button-padding-y @button-padding-x;
  margin: 0;
  border: 0;
  .hook-button;
}

.button-primary {
  color: @button-primary-color;
  background-color: @button-primary-background-color;
}

.button-secondary {
  color: @button-secondary-color;
  background-color: @button-secondary-background-color;
}

.hook-button() {}
