// Backgrounds

.u-bg-navy {      background-color: @navy; }
.u-bg-blue {      background-color: @blue; }
.u-bg-aqua {      background-color: @aqua; }
.u-bg-teal {      background-color: @teal; }
.u-bg-olive {     background-color: @olive; }
.u-bg-green {     background-color: @green; }
.u-bg-lime {      background-color: @lime; }
.u-bg-yellow {    background-color: @yellow; }
.u-bg-orange {    background-color: @orange; }
.u-bg-red {       background-color: @red; }
.u-bg-fuchsia {   background-color: @fuchsia; }
.u-bg-purple {    background-color: @purple; }
.u-bg-maroon {    background-color: @maroon; }
.u-bg-white {     background-color: @white; }
.u-bg-gray {      background-color: @gray; }
.u-bg-silver {    background-color: @silver; }
.u-bg-black {     background-color: @black; }

.u-bg-primary {   background-color: @primary; }
.u-bg-secondary { background-color: @secondary; }

// Colors

.u-navy {       color: @navy; }
.u-blue {       color: @blue; }
.u-aqua {       color: @aqua; }
.u-teal {       color: @teal; }
.u-olive {      color: @olive; }
.u-green {      color: @green; }
.u-lime {       color: @lime; }
.u-yellow {     color: @yellow; }
.u-orange {     color: @orange; }
.u-red {        color: @red; }
.u-fuchsia {    color: @fuchsia; }
.u-purple {     color: @purple; }
.u-maroon {     color: @maroon; }
.u-white {      color: @white; }
.u-gray {       color: @gray; }
.u-silver {     color: @silver; }
.u-black {      color: @black; }

.u-primary {    color: @primary; }
.u-secondary {  color: @secondary; }

// Border colors

.u-border-navy {      border-color: @navy; }
.u-border-blue {      border-color: @blue; }
.u-border-aqua {      border-color: @aqua; }
.u-border-teal {      border-color: @teal; }
.u-border-olive {     border-color: @olive; }
.u-border-green {     border-color: @green; }
.u-border-lime {      border-color: @lime; }
.u-border-yellow {    border-color: @yellow; }
.u-border-orange {    border-color: @orange; }
.u-border-red {       border-color: @red; }
.u-border-fuchsia {   border-color: @fuchsia; }
.u-border-purple {    border-color: @purple; }
.u-border-maroon {    border-color: @maroon; }
.u-border-white {     border-color: @white; }
.u-border-gray {      border-color: @gray; }
.u-border-silver {    border-color: @silver; }
.u-border-black {     border-color: @black; }

.u-border-primary {   border-color: @primary; }
.u-border-secondary { border-color: @secondary; }

// Fills for SVG

.u-fill-navy {      fill: @navy; }
.u-fill-blue {      fill: @blue; }
.u-fill-aqua {      fill: @aqua; }
.u-fill-teal {      fill: @teal; }
.u-fill-olive {     fill: @olive; }
.u-fill-green {     fill: @green; }
.u-fill-lime {      fill: @lime; }
.u-fill-yellow {    fill: @yellow; }
.u-fill-orange {    fill: @orange; }
.u-fill-red {       fill: @red; }
.u-fill-fuchsia {   fill: @fuchsia; }
.u-fill-purple {    fill: @purple; }
.u-fill-maroon {    fill: @maroon; }
.u-fill-white {     fill: @white; }
.u-fill-gray {      fill: @gray; }
.u-fill-silver {    fill: @silver; }
.u-fill-black {     fill: @black; }

.u-fill-primary {   fill: @primary; }
.u-fill-secondary { fill: @secondary; }

// Strokes for SVG

.u-stroke-navy {      stroke: @navy; }
.u-stroke-blue {      stroke: @blue; }
.u-stroke-aqua {      stroke: @aqua; }
.u-stroke-teal {      stroke: @teal; }
.u-stroke-olive {     stroke: @olive; }
.u-stroke-green {     stroke: @green; }
.u-stroke-lime {      stroke: @lime; }
.u-stroke-yellow {    stroke: @yellow; }
.u-stroke-orange {    stroke: @orange; }
.u-stroke-red {       stroke: @red; }
.u-stroke-fuchsia {   stroke: @fuchsia; }
.u-stroke-purple {    stroke: @purple; }
.u-stroke-maroon {    stroke: @maroon; }
.u-stroke-white {     stroke: @white; }
.u-stroke-gray {      stroke: @gray; }
.u-stroke-silver {    stroke: @silver; }
.u-stroke-black {     stroke: @black; }

.u-stroke-primary {   stroke: @primary; }
.u-stroke-secondary { stroke: @secondary; }
