// TBC

@serif: serif;
@sans-serif: sans-serif;

@regular: 400;
@bold: 700;

@h1: 2rem;
@h2: 1.5rem;
@h3: 1.25rem;
@h4: 1rem;
@h5: 0.875rem;
@h6: 0.75rem;

.u-serif      { font-family: @serif; }
.u-sans-serif { font-family: @sans-serif; }

.u-bold    { font-weight: @bold; }
.u-regular { font-weight: @regular; }

.u-normal  { font-style: normal; }
.u-italic  { font-style: italic; }

h1, .u-h1 { font-size: @h1; }
h2, .u-h2 { font-size: @h2; }
h3, .u-h3 { font-size: @h3; }
h4, .u-h4 { font-size: @h4; }
h5, .u-h5 { font-size: @h5; }
h6, .u-h6 { font-size: @h6; }

.hook-font;
.hook-font() {}
