@breakpoint-xs: 400px;
@breakpoint-sm: 600px;
@breakpoint-md: 800px;
@breakpoint-lg: 1140px;
@breakpoint-xl: 1400px;

@breakpoint-xs-max: (@breakpoint-xs - 1);
@breakpoint-sm-max: (@breakpoint-sm - 1);
@breakpoint-md-max: (@breakpoint-md - 1);
@breakpoint-lg-max: (@breakpoint-lg - 1);
@breakpoint-xl-max: (@breakpoint-xl - 1);

@space-1: 0.5rem;
@space-2: 1rem;
@space-3: 2rem;
@space-4: 4rem;

@aqua:      #7FDBFF;
@blue:      #0074D9;
@navy:      #001F3F;
@teal:      #39CCCC;
@green:     #2ECC40;
@olive:     #3D9970;
@lime:      #01FF70;

@yellow:    #FFDC00;
@orange:    #FF851B;
@red:       #FF4136;
@fuchsia:   #F012BE;
@purple:    #B10DC9;
@maroon:    #85144B;

@white:     #FFFFFF;
@silver:    #DDDDDD;
@gray:      #AAAAAA;
@black:     #111111;

@primary:           @orange;
@primary-inverse:   @white;
@secondary:         @black;
@secondary-inverse: @white;
