.u-inline       { display: inline; }
.u-block        { display: block; }
.u-inline-block { display: inline-block; }
.u-table        { display: table; }
.u-table-cell   { display: table-cell; }

.u-overflow-hidden { overflow: hidden; }
.u-overflow-scroll { overflow: scroll; }
.u-overflow-auto   { overflow: auto; }

.u-clearfix::before,
.u-clearfix::after {
  content: ' ';
  display: table;
}
.u-clearfix::after { clear: both; }

.u-float-left  { float: left; }
.u-float-right { float: right; }
.u-float-none  { float: none; }

.u-border-box  { box-sizing: border-box; }
.u-padding-box { box-sizing: padding-box; }
.u-content-box { box-sizing: content-box; }

.hook-layout;
.hook-layout() {}
