@line-height-1: 1;
@line-height-2: 1.125;
@line-height-3: 1.25;
@line-height-4: 1.5;

.u-line-height-1 { line-height: @line-height-1; }
.u-line-height-2 { line-height: @line-height-2; }
.u-line-height-3 { line-height: @line-height-3; }
.u-line-height-4 { line-height: @line-height-4; }

.hook-line-height;
.hook-line-height() {}
