@margin-1: @space-1;
@margin-2: @space-2;
@margin-3: @space-3;
@margin-4: @space-4;

.u-m0  { margin:        0; }
.u-mt0 { margin-top:    0; }
.u-mr0 { margin-right:  0; }
.u-mb0 { margin-bottom: 0; }
.u-ml0 { margin-left:   0; }
.u-mx0 { margin-left:   0; margin-right:  0; }
.u-my0 { margin-top:    0; margin-bottom: 0; }

.u-m1  { margin:        @margin-1; }
.u-mt1 { margin-top:    @margin-1; }
.u-mr1 { margin-right:  @margin-1; }
.u-mb1 { margin-bottom: @margin-1; }
.u-ml1 { margin-left:   @margin-1; }
.u-mx1 { margin-left:   @margin-1; margin-right:  @margin-1; }
.u-my1 { margin-top:    @margin-1; margin-bottom: @margin-1; }

.u-m2  { margin:        @margin-2; }
.u-mt2 { margin-top:    @margin-2; }
.u-mr2 { margin-right:  @margin-2; }
.u-mb2 { margin-bottom: @margin-2; }
.u-ml2 { margin-left:   @margin-2; }
.u-mx2 { margin-left:   @margin-2; margin-right:  @margin-2; }
.u-my2 { margin-top:    @margin-2; margin-bottom: @margin-2; }

.u-m3  { margin:        @margin-3; }
.u-mt3 { margin-top:    @margin-3; }
.u-mr3 { margin-right:  @margin-3; }
.u-mb3 { margin-bottom: @margin-3; }
.u-ml3 { margin-left:   @margin-3; }
.u-mx3 { margin-left:   @margin-3; margin-right:  @margin-3; }
.u-my3 { margin-top:    @margin-3; margin-bottom: @margin-3; }

.u-m4  { margin:        @margin-4; }
.u-mt4 { margin-top:    @margin-4; }
.u-mr4 { margin-right:  @margin-4; }
.u-mb4 { margin-bottom: @margin-4; }
.u-ml4 { margin-left:   @margin-4; }
.u-mx4 { margin-left:   @margin-4; margin-right:  @margin-4; }
.u-my4 { margin-top:    @margin-4; margin-bottom: @margin-4; }

.u-mxn1 { margin-left: -@margin-1; margin-right: -@margin-1; }
.u-mxn2 { margin-left: -@margin-2; margin-right: -@margin-2; }
.u-mxn3 { margin-left: -@margin-3; margin-right: -@margin-3; }
.u-mxn4 { margin-left: -@margin-4; margin-right: -@margin-4; }

.u-mla { margin-left: auto; }
.u-mra { margin-right: auto; }
.u-mxa { margin-left: auto; margin-right: auto; }

.hook-margin;
.hook-margin() {}
