@padding-1: @space-1;
@padding-2: @space-2;
@padding-3: @space-3;
@padding-4: @space-4;

.u-p0  { padding:        0; }
.u-pt0 { padding-top:    0; }
.u-pr0 { padding-right:  0; }
.u-pb0 { padding-bottom: 0; }
.u-pl0 { padding-left:   0; }
.u-px0 { padding-left:   0; padding-right:  0; }
.u-py0 { padding-top:    0; padding-bottom: 0; }

.u-p1  { padding:        @padding-1; }
.u-pt1 { padding-top:    @padding-1; }
.u-pr1 { padding-right:  @padding-1; }
.u-pb1 { padding-bottom: @padding-1; }
.u-pl1 { padding-left:   @padding-1; }
.u-py1 { padding-top:    @padding-1; padding-bottom: @padding-1; }
.u-px1 { padding-left:   @padding-1; padding-right:  @padding-1; }

.u-p2  { padding:        @padding-2; }
.u-pt2 { padding-top:    @padding-2; }
.u-pr2 { padding-right:  @padding-2; }
.u-pb2 { padding-bottom: @padding-2; }
.u-pl2 { padding-left:   @padding-2; }
.u-py2 { padding-top:    @padding-2; padding-bottom: @padding-2; }
.u-px2 { padding-left:   @padding-2; padding-right:  @padding-2; }

.u-p3  { padding:        @padding-3; }
.u-pt3 { padding-top:    @padding-3; }
.u-pr3 { padding-right:  @padding-3; }
.u-pb3 { padding-bottom: @padding-3; }
.u-pl3 { padding-left:   @padding-3; }
.u-py3 { padding-top:    @padding-3; padding-bottom: @padding-3; }
.u-px3 { padding-left:   @padding-3; padding-right:  @padding-3; }

.u-p4  { padding:        @padding-4; }
.u-pt4 { padding-top:    @padding-4; }
.u-pr4 { padding-right:  @padding-4; }
.u-pb4 { padding-bottom: @padding-4; }
.u-pl4 { padding-left:   @padding-4; }
.u-py4 { padding-top:    @padding-4; padding-bottom: @padding-4; }
.u-px4 { padding-left:   @padding-4; padding-right:  @padding-4; }

.hook-padding;
.hook-padding() {}
