.text-decoration-none { text-decoration: none; }
.text-underline       { text-decoration: underline; }

.u-text-caps    { text-transform: uppercase; }

.u-text-left    { text-align: left; }
.u-text-center  { text-align: center; }
.u-text-right   { text-align: right; }
.u-text-justify { text-align: justify; }

.u-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.u-nowrap     { white-space: nowrap; }
.u-break-word { word-wrap: break-word; }

.hook-text;
.hook-text() {}
