.u-width-1-12 {
  flex-basis: auto;
  width: calc(100% * 1 / 12);
}

.u-width-1-10 {
  flex-basis: auto;
  width: 10%;
}

.u-width-1-8 {
  flex-basis: auto;
  width: 12.5%;
}

.u-width-1-6,
.u-width-2-12 {
  flex-basis: auto;
  width: calc(100% * 1 / 6);
}

.u-width-1-5,
.u-width-2-10 {
  flex-basis: auto;
  width: 20%;
}

.u-width-1-4,
.u-width-2-8,
.u-width-3-12 {
  flex-basis: auto;
  width: 25%;
}

.u-width-3-10 {
  flex-basis: auto;
  width: 30%;
}

.u-width-1-3,
.u-width-2-6,
.u-width-4-12 {
  flex-basis: auto;
  width: calc(100% * 1 / 3);
}

.u-width-3-8 {
  flex-basis: auto;
  width: 37.5%;
}

.u-width-2-5,
.u-width-4-10 {
  flex-basis: auto;
  width: 40%;
}

.u-width-5-12 {
  flex-basis: auto;
  width: calc(100% * 5 / 12);
}

.u-width-1-2,
.u-width-2-4,
.u-width-3-6,
.u-width-4-8,
.u-width-5-10,
.u-width-6-12 {
  flex-basis: auto;
  width: 50%;
}

.u-width-7-12 {
  flex-basis: auto;
  width: calc(100% * 7 / 12);
}

.u-width-3-5,
.u-width-6-10 {
  flex-basis: auto;
  width: 60%;
}

.u-width-5-8 {
  flex-basis: auto;
  width: 62.5%;
}

.u-width-2-3,
.u-width-4-6,
.u-width-8-12 {
  flex-basis: auto;
  width: calc(100% * 2 / 3);
}

.u-width-7-10 {
  flex-basis: auto;
  width: 70%;
}

.u-width-3-4,
.u-width-6-8,
.u-width-9-12 {
  flex-basis: auto;
  width: 75%;
}

.u-width-4-5,
.u-width-8-10 {
  flex-basis: auto;
  width: 80%;
}

.u-width-5-6,
.u-width-10-12 {
  flex-basis: auto;
  width: calc(100% * 5 / 6);
}

.u-width-7-8 {
  flex-basis: auto;
  width: 87.5%;
}

.u-width-9-10 {
  flex-basis: auto;
  width: 90%;
}

.u-width-11-12 {
  flex-basis: auto;
  width: calc(100% * 11 / 12);
}

/* Intrinsic widths
   ========================================================================== */

/**
 * Make an element shrink wrap its content.
 */

.u-width-fit {
  flex-basis: auto;
}

/**
 * Make an element fill the remaining space.
 *
 * 1. Be explicit to work around IE10 bug with shorthand flex
 *    http://git.io/vllC7
 * 2. IE10 ignores previous `flex-basis` value. Setting again here fixes
 *    http://git.io/vllMt
 */

.u-width-fill {
  flex: 1 1 0%; /* 1 */
  flex-basis: 0%; /* 2 */
}

/**
 * An alternative method to make an element fill the remaining space.
 * Distributes space based on the initial width and height of the element
 *
 * http://www.w3.org/TR/css-flexbox/images/rel-vs-abs-flex.svg
 */

.u-width-fill-alt {
  flex: 1 1 auto;
  flex-basis: auto;
}

/**
 * Make an element the width of its parent.
 */

.u-width-full {
  width: 100%;
}

.hook-width;
.hook-width() {}
